@model TestUralsibins.Models.File[]
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Имя</th>
            <th>Размер</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.Id</td>
                <td>@file.Name</td>
                <td>@file.Size</td>
                <td>@file.Date</td>
            </tr>
        }
    </tbody>
</table>

