@model string
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Ошибка</h1>
    </div>
    <hgroup>
        <h2>@Model</h2>
    </hgroup>
</body>
</html>
